# **1 - Leitura da base de dados**

In [22]:
import pandas as pd

url = "https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json"
df = pd.read_json(url)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# **2 - Inspeção dos dados**

In [23]:
# Explorando a coluna customer
df.customer[0]

{'gender': 'Female',
 'SeniorCitizen': 0,
 'Partner': 'Yes',
 'Dependents': 'Yes',
 'tenure': 9}

In [24]:
# Explorando a coluna phone
df.phone[0]

{'PhoneService': 'Yes', 'MultipleLines': 'No'}

In [25]:
# Explorando a coluna internet
df.internet[0]

{'InternetService': 'DSL',
 'OnlineSecurity': 'No',
 'OnlineBackup': 'Yes',
 'DeviceProtection': 'No',
 'TechSupport': 'Yes',
 'StreamingTV': 'Yes',
 'StreamingMovies': 'No'}

In [26]:
# Explorando a coluna account
df.account[0]

{'Contract': 'One year',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Mailed check',
 'Charges': {'Monthly': 65.6, 'Total': '593.3'}}

# **3 - Organização do arquivo json**

In [27]:
# Função para "desenrolar" o arquivo json
def unwrap(line,column):
    return line[column]

In [28]:
# Definindo as colunas para serem abertas
columns = ['customer', 'phone','internet','account', 'Charges']

for c in columns:
    keys = df[c].iloc[0].keys()
    for key in keys:
        df[key] = df[c].apply(lambda x: unwrap(x,key))

df.drop(columns, inplace=True, axis = 1)
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

# **4 - Visualização prévia do dataframe**

In [29]:
# Identificando as informações do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Monthly           7267 non-null   float64
 20  Total             7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [30]:
# Identificando a qualidade dos dados
df.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Monthly             0
Total               0
dtype: int64

In [31]:
# Verificação de dados em branco
for column in df.columns:
  print('coluna {0}: {1} vazios. '.format(column, df.loc[(df[column] == '') | (df[column].isnull()) | 
                                                           (df[column] == ' ')][column].count()))

coluna customerID: 0 vazios.
coluna Churn: 224 vazios.
coluna gender: 0 vazios.
coluna SeniorCitizen: 0 vazios.
coluna Partner: 0 vazios.
coluna Dependents: 0 vazios.
coluna tenure: 0 vazios.
coluna PhoneService: 0 vazios.
coluna MultipleLines: 0 vazios.
coluna InternetService: 0 vazios.
coluna OnlineSecurity: 0 vazios.
coluna OnlineBackup: 0 vazios.
coluna DeviceProtection: 0 vazios.
coluna TechSupport: 0 vazios.
coluna StreamingTV: 0 vazios.
coluna StreamingMovies: 0 vazios.
coluna Contract: 0 vazios.
coluna PaperlessBilling: 0 vazios.
coluna PaymentMethod: 0 vazios.
coluna Monthly: 0 vazios.
coluna Total: 11 vazios.

# **5 - Limpeza dos dados**

## **5.1 - Limpando a coluna *Churn***

In [32]:
# Identificando as linhas com valores nulos
ind = []
cont = 0
for line in df.Churn:
    if line == '' or line == ' ' or line == None:
        ind.append(cont)
    cont = cont + 1

# Removendo as linhas em branco
df.drop( ind, axis=0, inplace = True )

## **5.2 - Limpando a coluna Total**

In [33]:
df = df.loc[df.Total != ' ']
df.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [34]:
# Tranformando a coluna Total em float
df["Total"] = df.Total.astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   Churn             7032 non-null   object
 2   gender            7032 non-null   object
 3   SeniorCitizen     7032 non-null   int64
 4   Partner           7032 non-null   object
 5   Dependents        7032 non-null   object
 6   tenure            7032 non-null   int64
 7   PhoneService      7032 non-null   object
 8   MultipleLines     7032 non-null   object
 9   InternetService   7032 non-null   object
 10  OnlineSecurity    7032 non-null   object
 11  OnlineBackup      7032 non-null   object
 12  DeviceProtection  7032 non-null   object
 13  TechSupport       7032 non-null   object
 14  StreamingTV       7032 non-null   object
 15  StreamingMovies   7032 non-null   object
 16  Contract          7032 non-null   object
 17  PaperlessBilling  7032 non-null   object
 18  PaymentMethod     7032 non-null   object
 19  Monthly           7032 non-null   float64
 20  Total             7032 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

## **5.3 - Excluindo a coluna de *customerID***

In [35]:
# Avaliando a coluna tenure
df.drop('customerID', axis=1, inplace=True)
df.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

## **5.4 - Adicionando um nova coluna de gastos diários**

In [36]:
df.insert(18,'Daily',df.Monthly/30)
df.head()

,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Daily,Monthly,Total
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,2.186667,65.6,593.30
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,1.996667,59.9,542.40
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,2.463333,73.9,280.85
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,3.266667,98.0,1237.85
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,2.796667,83.9,267.40

# **6 - Tradução das colunas**

In [37]:
trad = {'Churn':'Status_Cliente','gender':'Sexo','SeniorCitizen':'Aposentado','Partner':'Casado',
        'Dependents':'Dependentes', 'tenure':'Meses_Contrato', 'PhoneService':'Assinatura_Telefone', 'MultipleLines':'Assinatura_MultiTelefone',
        'InternetService':'Assinatura_Internet', 'OnlineSecurity':'Assinatura_Seguro_online', 'OnlineBackup':'Assinatura_Backup', 
        'DeviceProtection':'Assinatura_Seguro_dispositivo', 'TechSupport':'Assinatura_Suporte_tecnico', 'StreamingTV':'Assinatura_TV',
        'StreamingMovies':'Assinatura_Filmes','Contract':'Tipo_Contrato','PaperlessBilling':'Fatura_Online', 'PaymentMethod':'Forma_Pagamento',
        'Daily':'Valor_Diario','Monthly':'Valor_Mensal', 'Total':'Valor_Total'
        }
df.rename( columns=trad, inplace=True )
df.head()

,Status_Cliente,Sexo,Aposentado,Casado,Dependentes,Meses_Contrato,Assinatura_Telefone,Assinatura_MultiTelefone,Assinatura_Internet,Assinatura_Seguro_online,...,Assinatura_Seguro_dispositivo,Assinatura_Suporte_tecnico,Assinatura_TV,Assinatura_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Valor_Diario,Valor_Mensal,Valor_Total
0,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,2.186667,65.6,593.30
1,No,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,1.996667,59.9,542.40
2,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,2.463333,73.9,280.85
3,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,3.266667,98.0,1237.85
4,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,2.796667,83.9,267.40

# **7 - Padronização dos dados**

## **7.1 - Dataframe com respostas padronizada do Tipo Yes/No**

In [39]:
df_obj = df.copy()
df_obj['Aposentado'] = df_obj['Aposentado'].map({0:'No', 1:'Yes'})
df_obj['Status_Cliente'] = df_obj['Status_Cliente'].map({'No':'Ativo', 'Yes':'Inativo'})
df_obj.head()

,Status_Cliente,Sexo,Aposentado,Casado,Dependentes,Meses_Contrato,Assinatura_Telefone,Assinatura_MultiTelefone,Assinatura_Internet,Assinatura_Seguro_online,...,Assinatura_Seguro_dispositivo,Assinatura_Suporte_tecnico,Assinatura_TV,Assinatura_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Valor_Diario,Valor_Mensal,Valor_Total
0,Ativo,Female,No,Yes,Yes,9,Yes,No,DSL,No,...,No,Yes,Yes,No,One year,Yes,Mailed check,2.186667,65.6,593.30
1,Ativo,Male,No,No,No,9,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,No,Mailed check,1.996667,59.9,542.40
2,Inativo,Male,No,No,No,4,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,2.463333,73.9,280.85
3,Inativo,Male,Yes,Yes,No,13,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,3.266667,98.0,1237.85
4,Inativo,Female,Yes,Yes,No,3,Yes,No,Fiber optic,No,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,2.796667,83.9,267.40

## **7.2 - Dataframe com respostas padrão do tipo 0/1**

In [40]:
mappings = [] # mapeamento dos dados
df_num = df.copy()
for column in df.columns:
  if (df_num[column].dtypes != 'int64') & (df_num[column].dtypes != 'float64'):
    values = df_num[column].unique()
    mapping = dict()
    count = 0
    for value in values:
      mapping[value] = count
      count += 1 
    mappings.append([column, mapping])
    df_num[column] = df_num[column].map(mapping)
df_num

,Status_Cliente,Sexo,Aposentado,Casado,Dependentes,Meses_Contrato,Assinatura_Telefone,Assinatura_MultiTelefone,Assinatura_Internet,Assinatura_Seguro_online,...,Assinatura_Seguro_dispositivo,Assinatura_Suporte_tecnico,Assinatura_TV,Assinatura_Filmes,Tipo_Contrato,Fatura_Online,Forma_Pagamento,Valor_Diario,Valor_Mensal,Valor_Total
0,0,0,0,0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,2.186667,65.60,593.30
1,0,1,0,1,1,9,0,1,0,0,...,0,1,1,1,1,1,0,1.996667,59.90,542.40
2,1,1,0,1,1,4,0,0,1,0,...,1,1,1,0,1,0,1,2.463333,73.90,280.85
3,1,1,1,0,1,13,0,0,1,0,...,1,1,0,1,1,0,1,3.266667,98.00,1237.85
4,1,0,1,0,1,3,0,0,1,0,...,0,0,0,0,1,0,0,2.796667,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,0,0,0,1,1,13,0,0,0,1,...,0,0,1,0,0,1,0,1.838333,55.15,742.90
7263,1,1,0,0,1,22,0,1,1,0,...,0,1,1,1,1,0,1,2.836667,85.10,1873.70
7264,0,1,0,1,1,2,0,0,0,0,...,0,1,1,0,1,0,0,1.676667,50.30,92.75
7265,0,1,0,0,0,67,0,0,0,1,...,1,0,1,1,2,1,0,2.261667,67.85,4627.65
7266,0,1,0,0,0,63,1,2,0,1,...,1,1,0,1,2,1,1,1.966667,59.00,3707.60

In [41]:
# Dicionário do mapeamento
mappings

[['Status_Cliente', {'No': 0, 'Yes': 1}],
 ['Sexo', {'Female': 0, 'Male': 1}],
 ['Casado', {'Yes': 0, 'No': 1}],
 ['Dependentes', {'Yes': 0, 'No': 1}],
 ['Assinatura_Telefone', {'Yes': 0, 'No': 1}],
 ['Assinatura_MultiTelefone', {'No': 0, 'Yes': 1, 'No phone service': 2}],
 ['Assinatura_Internet', {'DSL': 0, 'Fiber optic': 1, 'No': 2}],
 ['Assinatura_Seguro_online', {'No': 0, 'Yes': 1, 'No internet service': 2}],
 ['Assinatura_Backup', {'Yes': 0, 'No': 1, 'No internet service': 2}],
 ['Assinatura_Seguro_dispositivo',
  {'No': 0, 'Yes': 1, 'No internet service': 2}],
 ['Assinatura_Suporte_tecnico', {'Yes': 0, 'No': 1, 'No internet service': 2}],
 ['Assinatura_TV', {'Yes': 0, 'No': 1, 'No internet service': 2}],
 ['Assinatura_Filmes', {'No': 0, 'Yes': 1, 'No internet service': 2}],
 ['Tipo_Contrato', {'One year': 0, 'Month-to-month': 1, 'Two year': 2}],
 ['Fatura_Online', {'Yes': 0, 'No': 1}],
 ['Forma_Pagamento',
  {'Mailed check': 0,
   'Electronic check': 1,
   'Credit card (automatic)': 2,
   'Bank transfer (automatic)': 3}]]

# **8 - Exportando a base de dados tratada**

In [42]:
# Exportando o DataFrame com padrões Yes/No
df_obj.to_csv('dados_tratados_obj.csv', index=False)

# Exportando o DataFrame com padrões 1/0
df_num.to_csv('dados_tratados_num.csv', index=False)